{% extends 'base.html.twig' %}
{% block body %}
<div class="container2" style="width:75vw;margin:auto;height:60vh;border:2px solid green;">
<div style="color:green">
{{student.firstName}} {{student.lastName}}
</div>
{{form_start(form)}}
<div class="form-group">
{{form_label(form.note)}}
{{form_widget(form.note,{attr:{class:"form-control"}})}}
{{form_errors(form.note)}}
</div>
<div clas="form-group">
<button class="btn btn-primary">valider</button>
</div>
{{form_end(form)}}
</div>
{% endblock %}